:host
{
    width: 100%;
}

header
{
    height: 50px;
    background-color: var(--dark-yellow);
    align-items: center;
    font-size:30px;
}

h1
{
    font-weight: 300;
    line-height: 0;
    width: 95%;
}

.custom-list
{
    position: relative;
    float: right;
}

.custom-list:hover
{
    transform: scale(1.1) translateY(-1px);
    cursor: pointer;
}

.site-icon
{
    height: 100%;
    width: 40px;
    background-image: url('../../assets/images/laugh.svg');
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-right: 10px;
}


