.custom-list
{
    position: relative;
    float: right;
}

footer
{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background-color: var(--dark-yellow);
}

span
{
    margin: 15px;
}

span:hover
{
    cursor: pointer;
    font-weight: 400;
}