<div class="d-flex flex-column carousel-container">

    <div class="upper-sub"></div>

    
    <div class="main-sub">

      <app-sidemenu (page)="displayPage($event)"></app-sidemenu>

      <app-cards *ngIf="currentPage==='jokes'"></app-cards > 
      <app-contact *ngIf="currentPage==='contact'" (page)="displayPage($event)"></app-contact> 
      <app-about *ngIf="currentPage==='about'" (page)="displayPage($event)"></app-about> 
      <app-options *ngIf="currentPage==='options'" (page)="displayPage($event)"></app-options> 
      <app-privacy *ngIf="currentPage==='privacy'" (page)="displayPage($event)"></app-privacy>
      <!-- <app-options></app-options>  -->

    </div>
    
    


    <div class="lower-sub"></div>

</div>