<div class="card m-2 animate__animated animate__faster" [ngClass]="{animate__fadeOutRight:slideOutCarousel===true,
            animate__fadeInLeft:slideInCarousel===true,
            animate__fadeInRight:exitInCarousel===true,
            animate__fadeOutLeft:exitOutCarousel===true}" 
            style="width: 270px; height:350px;" #jokecard>

            <img src="{{currentJoke.image}}" class="card-img-top" alt="owl">

            <div class="card-body">

                <!-- corps blague-->
                <p class="card-text" style="height: 72px;">{{currentJoke.main}}</p>

                <!-- reponse-->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <span class="question-mark">?</span>
                        </div>
                        <div class="flip-card-back">
                            <p class="answer">{{currentJoke.answer}}</p>
                        </div>
                    </div>
                </div>

            </div>
</div>

<div class="d-flex flew-row m-2 mt-4">
    <div class="button-custom" [ngClass]="{btndis:firstCard===true}" (click)="previousCard()"><i class="bi bi-chevron-left"></i></div>
    <div class="spacer"></div>
    <div class="button-custom" [ngClass]="{btndis:lastCard===true}" (click)="nextCard()"><i class="bi bi-chevron-right"></i></div>
</div>
