<div class="card m-2 shadow" style="width: 270px; height:350px;">
    <div class="about-header">
        Options
        <span class="close" (click)="quitOptions()"><i class="bi bi-x-square"></i></span>
    </div>

    <div class="option-form">

        <div class="reglages">
            <input type="checkbox" name="norepeat">
            <label for="norepeat">Voir les blagues une seule fois</label>
        </div>

        <div class="reglages">
            <input type="checkbox" name="hideads">
            <label for="hideads">Masquer la publicité</label>
        </div>

        <div class="reglages">
            <button (click)="showMessage()">Réinitialiser les blagues vues</button>
        </div>


        <div class="message" *ngIf="displayMessage">
            Blagues réinitialisées ! Vous pouvez désormais revoir toutes les blagues.
        </div>

    </div>
</div>
