<div class="card m-2 shadow" style="width: 270px; height:350px;">
    <div class="about-header">
        <span>A propos</span>
        <span class="close" (click)="quitPage()"><i class="bi bi-x-square"></i></span>
    </div>

    <div class="about-content">
        
        <div class="content">

            <div class="bg-image"></div>

            <p>Voici la citation qui nous motive chaque jour et qui nous a poussé à créer ce site :</p>

            <span class="quote">
                <div class="opening"><i class="bi bi-quote opening"></i></div>
                Une journée sans rire est une journée perdue.
                <div class="opening"><i class="bi bi-quote closing"></i></div>
            </span>
        </div>
        <div class="author">Charlie Chaplin</div>
    </div>

</div>