.card
{
    background-color: var(--dark-yellow);
    font-size: 12px;
}

.about-header
{
    background-color: var(--light-yellow);
    padding: 5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

.content
{
    margin: 0px 10px;
    text-align: justify;
    font-size: 23px;
}


.author
{
    display: block;
    padding: 15px 10px;
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

.about-content
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg-image
{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/chaplin.png');
    background-repeat: no-repeat;
    opacity: .07;
}

.opening
{
    font-size: 27px;
    transform: translateY(-2px);
}

.closing
{
    font-size: 27px;
    transform: translateY(-2px) rotate(180deg);
    float: right;
}

p
{
    font-size: 16px;
}

.quote
{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.close
{
    position: absolute;
    top:6px;
    right: 10px;
}

.close:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in .1s;
}