<div class="card m-2 shadow" style="width: 270px; height:350px;">

    <div class="contact-header">
        <span>Contact</span>
        <span class="close" (click)="quitPage()"><i class="bi bi-x-square"></i></span>
    </div>

    <form class="contact-form" (ngSubmit)="sendArticle()" #f="ngForm" *ngIf="!messageSent">

        <label>Nom</label>
        <input name="lastname" [(ngModel)]="lastname"  (change)="checkForm()" type="text" required>

        <label>Pr&eacute;nom</label>
        <input name="firstname" [(ngModel)]="firstname" (change)="checkForm()" type="text" required>

        <label>Email</label>
        <input name="email"  [(ngModel)]="email" (change)="checkForm()" type="email" required>

        <label>Ton commentaire (ou une blague pourrie ...)</label>
        <textarea name="message"  [(ngModel)]="message" type="text" required></textarea>

        <button type="submit" [ngClass]="{disabledbutton: btnDisabled}" [disabled]="btnDisabled">Envoyer</button>

    </form>

    <div class="contact-form" *ngIf="messageSent">

        <div class="message-sent">
            <strong>Message envoyé !</strong>
            &nbsp;<br>
            &nbsp;<br>
            Merci pour votre message !<br>
            &nbsp;<br>
            Il sera lu dans les plus brefs délais.<br>
            &nbsp;<br>
            En vous souhaitant une très bonne journée !
        </div>

    </div>



    
</div>