.card
{
    background-color: var(--dark-yellow);
    font-size: 12px;
}

.privacy-header
{
    background-color: var(--light-yellow);
    padding: 5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.close
{
    position: absolute;
    top:6px;
    right: 10px;
}

.close:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in .1s;
}

.privacy-content
{
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    height: 100%;
}

button
{
    margin-top : 30px;
    display: flex;
    background-color: var(--dark-red);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border :1px solid transparent;
    height: 25px;
    width: 100%;
}

